In [6]:
from pandapower import networks
import pso_util
import read_control_parameters as rd

In [3]:
net = pso_util.loadPowerSys('')

In [4]:
net

This pandapower network includes the following parameter tables:
   - bus (14 elements)
   - load (11 elements)
   - gen (4 elements)
   - shunt (1 element)
   - ext_grid (1 element)
   - line (15 elements)
   - trafo (5 elements)
   - poly_cost (5 elements)
   - bus_geodata (14 elements)

In [5]:
net.bus

    in_service  max_vm_pu  min_vm_pu name type    vn_kv zone
0         True       1.06       0.94    1    b  135.000    1
1         True       1.06       0.94    2    b  135.000    1
10        True       1.06       0.94   11    b    0.208    1
11        True       1.06       0.94   12    b    0.208    1
12        True       1.06       0.94   13    b    0.208    1
13        True       1.06       0.94   14    b    0.208    1
2         True       1.06       0.94    3    b  135.000    1
3         True       1.06       0.94    4    b  135.000    1
4         True       1.06       0.94    5    b  135.000    1
5         True       1.06       0.94    6    b    0.208    1
6         True       1.06       0.94    7    b   14.000    1
7         True       1.06       0.94    8    b   12.000    1
8         True       1.06       0.94    9    b    0.208    1
9         True       1.06       0.94   10    b    0.208    1

In [10]:
net.line

,c_nf_per_km,df,from_bus,g_us_per_km,in_service,length_km,max_i_ka,max_loading_percent,name,parallel,r_ohm_per_km,std_type,to_bus,type,x_ohm_per_km
0,768.484773,1.0,0,0.0,True,1.0,42.339020,100.0,None,1,3.532005,None,1,ol,10.783732
1,716.088084,1.0,0,0.0,True,1.0,42.339020,100.0,None,1,9.846967,None,4,ol,40.649040
10,0.000000,1.0,8,0.0,True,1.0,27479.652235,100.0,None,1,0.000014,None,9,ol,0.000037
11,0.000000,1.0,8,0.0,True,1.0,27479.652235,100.0,None,1,0.000055,None,13,ol,0.000117
12,0.000000,1.0,9,0.0,True,1.0,27479.652235,100.0,None,1,0.000035,None,10,ol,0.000083
13,0.000000,1.0,11,0.0,True,1.0,27479.652235,100.0,None,1,0.000096,None,12,ol,0.000086
14,0.000000,1.0,12,0.0,True,1.0,27479.652235,100.0,None,1,0.000074,None,13,ol,0.000151
2,637.493051,1.0,1,0.0,True,1.0,42.339020,100.0,None,1,8.563928,None,2,ol,36.080033
3,494.857619,1.0,1,0.0,True,1.0,42.339020,100.0,None,1,10.590547,None,3,ol,32.134320
4,503.590401,1.0,1,0.0,True,1.0,42.339020,100.0,None,1,10.379138,None,4,ol,31.689630
5,186.299339,1.0,2,0.0,True,1.0,42.339020,100.0,None,1,12.212573,None,3,ol,31.170217
6,0.000000,1.0,3,0.0,True,1.0,42.339020,100.0,None,1,2.433038,None,4,ol,7.674548
7,0.000000,1.0,5,0.0,True,1.0,27479.652235,100.0,None,1,0.000041,None,10,ol,0.000086
8,0.000000,1.0,5,0.0,True,1.0,27479.652235,100.0,None,1,0.000053,None,11,ol,0.000111
9,0.000000,1.0,5,0.0,True,1.0,27479.652235,100.0,None,1,0.000029,None,12,ol,0.000056

In [7]:
rd.getGenRealPower(net)

   params  minVal  maxVal  paramType     numType
0    40.0     0.0   140.0  realPower  continuous
1     0.0     0.0   100.0  realPower  continuous
2     0.0     0.0   100.0  realPower  continuous
3     0.0     0.0   100.0  realPower  continuous

In [17]:
params = rd.get1DparameterArray(net)
params.to_excel('control_params.xlsx')
params

    index   paramType     numType  params  maxVal  minVal
0       0   realPower  continuous  40.000  140.00    0.00
1       1   realPower  continuous   0.000  100.00    0.00
2       2   realPower  continuous   0.000  100.00    0.00
3       3   realPower  continuous   0.000  100.00    0.00
4       0      vSched  continuous   1.045    1.05    0.95
5       1      vSched  continuous   1.010    1.05    0.95
6       2      vSched  continuous   1.070    1.05    0.95
7       3      vSched  continuous   1.090    1.05    0.95
8       0  tx2winding    discrete  -1.000    3.00   -3.00
9       1  tx2winding    discrete  -1.000    3.00   -3.00
10      2  tx2winding    discrete  -1.000    3.00   -3.00
11      3  tx2winding    discrete     NaN    3.00   -3.00
12      4  tx2winding    discrete     NaN    3.00   -3.00
13      0       shunt    discrete   1.000    3.00    1.00

In [13]:
rd.getTrafoTapPosition(net)

   params   paramType  minVal  maxVal   numType
0    -1.0  tx2winding      -3       3  discrete
1    -1.0  tx2winding      -3       3  discrete
2    -1.0  tx2winding      -3       3  discrete
3     NaN  tx2winding      -3       3  discrete
4     NaN  tx2winding      -3       3  discrete

In [14]:
net.load

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,1,0.0,0.0,False,True,None,21.7,12.7,1.0,NaN,None
1,2,0.0,0.0,False,True,None,94.2,19.0,1.0,NaN,None
10,13,0.0,0.0,False,True,None,14.9,5.0,1.0,NaN,None
2,3,0.0,0.0,False,True,None,47.8,-3.9,1.0,NaN,None
3,4,0.0,0.0,False,True,None,7.6,1.6,1.0,NaN,None
4,5,0.0,0.0,False,True,None,11.2,7.5,1.0,NaN,None
5,8,0.0,0.0,False,True,None,29.5,16.6,1.0,NaN,None
6,9,0.0,0.0,False,True,None,9.0,5.8,1.0,NaN,None
7,10,0.0,0.0,False,True,None,3.5,1.8,1.0,NaN,None
8,11,0.0,0.0,False,True,None,6.1,1.6,1.0,NaN,None
9,12,0.0,0.0,False,True,None,13.5,5.8,1.0,NaN,None